/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  border-radius: 100px;
}

.button.button-grapevine {
  background-color: #694f92;
  border-color: #694f92;
  color: #ffffff;
}

.grapevine {
  color: #694f92;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}

.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.phones {
  position: relative;
}

.phone {
  position: relative;
  max-width: 80%;
  margin: 3rem auto 0;
}

/* Values
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.values {
  background-image: url('../img/background-library.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  padding-bottom: 5rem;
}

.value-multiplier {
  margin-bottom: .5rem;
  color: #ffffff;
  /* color: #11DFC7; */
  /* color: #8b72b3; */
  text-shadow: #4a3766 1px 0 2px;
}

.value-heading {
  margin-bottom: .3rem;
}

.value-description {
  opacity: .8;
  font-weight: 300;
}

/* Help
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.get-help {
  border-bottom: 1px solid #ddd;
}

/* Categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.categories {
  background-image: url('../img/background-lights.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
}

.categories .section-description {
  margin-bottom: 4rem;
}

/* Categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.footer {
  background-color: #2b2b2b;
  color: #a2a2a2;
  font-size: 1em;
}


/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 12rem 0 11rem;
  }

  .hero {
    padding-bottom: 12rem;
    text-align: left;
    height: 165px;
  }

  .phone {
    position: absolute;
    top: -7rem;
    right: 3rem;
    max-height: 362px;
    z-index: 3;
  }

  .phone+.phone {
    top: -6rem;
    display: block;
    max-width: 73.8%;
    right: 0;
    z-index: 2;
    max-height: 338px;
  }

  .hero-heading {
    font-size: 2.4rem;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .hero {
    height: 190px;
  }

  .hero-heading {
    font-size: 2.6rem;
  }

  .section {
    padding: 14rem 0 15rem;
  }

  .hero {
    padding: 16rem 0 14rem;
  }

  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .phone {
    right: 5rem;
    max-height: 510px;
  }

  .phone+.phone {
    top: -12rem;
    max-height: 472px;
  }

  .categories {
    padding: 15rem 0 8rem;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 20rem 0 19rem;
  }

  .hero {
    padding: 22rem 0;
  }

  .hero-heading {
    font-size: 3.0rem;
  }

  .phone {
    top: -6rem;
    max-height: 615px;
  }

  .phone+.phone {
    top: -14rem;
    max-height: 570px;
  }
}